# Anotações: 

No pandas há duas estruturas, sendo elas:
- Series - 1-d ou seja, é um vetor

  -> labels

  -> dados
- Dataframe - 2-d+

  -> labels(x)

  ->columns(y)

  ->dados

### Panda Series

In [2]:
import pandas as pd
import numpy as np

In [15]:
labels = ['a', 'b', 'c']
dados = [10, 20, 30]
# é boa pratica passar o index, se não passar ele irá criar um index de 0 a n
# criando uma series com duas listas
s1 = pd.Series(index=labels, data=dados)
# criando uma series com um dicionario
s2 = pd.Series({'a':10, 'c':50, 'd':80})

print(s1)
print(type(s1))

a    10
b    20
c    30
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
#chamando um valor da series
print(s1['b'])

20

In [17]:
# operacoes entre series
print(s1 + s2) #se tiver um valor que não existe em uma das series ele irá retornar NaN
print(s1.add(s2, fill_value=0)) #se nao tiver um valor ele irá adicionar o valor 0

a    20.0
b     NaN
c    80.0
d     NaN
dtype: float64
a    20.0
b    20.0
c    80.0
d    80.0
dtype: float64

In [23]:
#acessar apenas o que precisamos
print(s1[['a','c']]) #como é mais de um indice é necessario passar uma lista
print(s1[1:]) #passando um range de indices

a    10
c    30
dtype: int64
b    20
c    30
dtype: int64

In [25]:
#condicionais no pandas é identico ao do numpy
print(s1[s1 > 25]) #retorna apenas os valores maiores que 25
print(s1[s1 > s1.mean()]) #retorna apenas os valores maiores que a media
print(s1[s1/2 == 10]) #retorna apenas os valores que divididos por 2 são iguais a 10

c    30
dtype: int64
c    30
dtype: int64
b    20
dtype: int64

### Pandas DataFrame

In [ ]:
#Lembrar: a estrutura do DataFrame é similar ao do Excel

#plantando uma semente aleatoria
np.random.seed(10)

#criando um DataFrame
df = pd.DataFrame(
    index = ['A', 'B', 'C', 'D', 'E'],
    columns= ['W', 'X', 'Y', 'Z'],
    data = np.random.randint(1, 50, [5, 4])
)
print(df)

    W   X   Y   Z
A  10  37  16   1
B  29  26  30  49
C  30   9  10   1
D  43  41  37  17
E  37  48  12  25

In [37]:
#slicing com multiplas colunas
print(df[['W', 'Z']]) #retorna as colunas W e Z

#acessando um elemento expecifico
#coluna e depois linha
print(df['X']['B']) #retorna o valor da coluna W na linha A

    W   Z
A  10   1
B  29  49
C  30   1
D  43  17
E  37  25
26

In [47]:
#fazendo slicing com loc() ou iloc() - loc = localization, iloc = index localization

#loc() é baseado no nome do indice
#print(df.loc[['A','B'],['W','X', 'Y', 'Z']])
print(df.loc[['A','B'],['W','X', 'Z']])

#iloc() é baseado no numero do indice
print(df.iloc[0:2, 0:])

    W   X   Z
A  10  37   1
B  29  26  49
    W   X   Y   Z
A  10  37  16   1
B  29  26  30  49

### Carregando dados com Pandas

In [9]:
#importando o arquivo paises
df = pd.read_csv('paises.csv', delimiter = ';')
#mostrando as colunas
print(df.columns)
#mostra os 3 primeiros
print(df.head(3))
#mostra os 3 ultimos
print(df.tail(3))

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')
        Country                               Region  Population  \
0  Afghanistan         ASIA (EX. NEAR EAST)             31056997
1      Albania   EASTERN EUROPE                          3581655
2      Algeria   NORTHERN AFRICA                        32930091

   Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0          647500                        48.0                          0.00
1           28748                       124.6                          1.26
2         2381740                        13.8                          0.04

   Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0          23.06                              163.07                 700
1          -4.93                               21.52                4500
2          -0.39                               31.00                6000

   Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  Climate  \
0          36.0                3.2       12.13       0.22      87.65      1.0
1          86.5               71.2       21.09       4.42      74.49      3.0
2          70.0               78.1        3.22       0.25      96.53      1.0

   Birthrate  Deathrate  Agriculture  Industry  Service
0      46.60      20.34        0.380     0.240    0.380
1      15.11       5.22        0.232     0.188    0.579
2      17.14       4.61        0.101     0.600    0.298
       Country                               Region  Population  \
224     Yemen   NEAR EAST                              21456188
225    Zambia   SUB-SAHARAN AFRICA                     11502010
226  Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
224            0.0                               61.50                 800
225            0.0                               88.29                 800
226            0.0                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
224          50.2               37.2        2.78       0.24      96.98
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
224      1.0      42.89       8.30        0.135     0.472    0.393
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

Salvando um novo dataset

In [ ]:
#calculando a % da populacao de cada pais
total_population = np.sum(df['Population'])

#calculando a porcentagem DE CADA PAIS (broadcasting)
seriesPercPopulation = (df['Population']/total_population) * 100
print(seriesPercPopulation)

#criando uma nova coluna no dataset
df['% Population'] = np.round(seriesPercPopulation, 3)

#gerando um novo arquivo com a coluna nova
df.to_csv('paises2.csv', sep = ';')

#pegando os 6 paises mais populosos do planeta
print(df.nlargest(6, '% Population'))

0      0.476039
1      0.054899
2      0.504750
3      0.000886
4      0.001091
         ...
222    0.037714
223    0.004185
224    0.328879
225    0.176302
226    0.187565
Name: Population, Length: 227, dtype: float64
            Country                               Region  Population  \
42           China         ASIA (EX. NEAR EAST)           1313973713
94           India         ASIA (EX. NEAR EAST)           1095351995
214  United States   NORTHERN AMERICA                      298444215
95       Indonesia         ASIA (EX. NEAR EAST)            245452739
27          Brazil               LATIN AMER. & CARIB       188078227
156       Pakistan         ASIA (EX. NEAR EAST)            165803560

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
42          9596960                       136.9                          0.15
94          3287590                       333.2                          0.21
214         9631420                        31.0                          0.21
95          1919440                       127.9                          2.85
27          8511965                        22.1                          0.09
156          803940                       206.2                          0.13

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
42           -0.40                               24.18                5000
94           -0.07                               56.29                2900
214           3.41                                6.50               37800
95            0.00                               35.60                3200
27           -0.03                               29.61                7600
156          -2.77                               72.44                2100

     Literacy (%)  ...  Arable (%)  Crops (%)  Other (%)  Climate  Birthrate  \
42           90.9  ...       15.40       1.25      83.35      1.5      13.25
94           59.5  ...       54.40       2.74      42.86      2.5      22.01
214          97.0  ...       19.13       0.22      80.65      3.0      14.14
95           87.9  ...       11.32       7.23      81.45      2.0      20.34
27           86.4  ...        6.96       0.90      92.15      2.0      16.56
156          45.7  ...       27.87       0.87      71.26      1.0      29.74

     Deathrate  Agriculture  Industry  Service  % Population
42        6.97        0.125     0.473    0.403        20.140
94        8.18        0.186     0.276    0.538        16.789
214       8.26        0.010     0.204    0.787         4.575
95        6.25        0.134     0.458    0.408         3.762
27        6.17        0.084     0.400    0.516         2.883
156       8.23        0.216     0.251    0.533         2.541

[6 rows x 21 columns]

Agrupamento de dados no Pandas

In [20]:
#agrupando os dados por regiao
group_region = df.groupby('Region')
print(group_region.count()['Country'])
print(group_region.sum()['Population'])

Region
ASIA (EX. NEAR EAST)                   28
BALTICS                                 3
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
LATIN AMER. & CARIB                    45
NEAR EAST                              16
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
OCEANIA                                21
SUB-SAHARAN AFRICA                     51
WESTERN EUROPE                         28
Name: Country, dtype: int64
Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

Criando e aplicando métodos customizados no Pandas

In [ ]:
#criando um metodo no python
def tenpercent(x):
    return x * 0.9

#pegando a taxa de mortalidade
taxa_mortalidade = df['Deathrate']

#aplicando a funcao customizada em uma series
taxa_mortalidade2 = df['Deathrate'].apply(tenpercent)

#juntando duas series
print(pd.concat([taxa_mortalidade, taxa_mortalidade2], axis = 1)) #axis = 1 = coluna e axis = 0 = linha

     Deathrate  Deathrate
0        20.34     18.306
1         5.22      4.698
2         4.61      4.149
3         3.27      2.943
4         6.25      5.625
..         ...        ...
222       3.92      3.528
223       0.00      0.000
224       8.30      7.470
225      19.93     17.937
226      21.84     19.656

[227 rows x 2 columns]