# Exercicios

In [2]:
import pandas as pd
import numpy as np

1

In [29]:
seriesAno1 = pd.Series({'Java' : 16.25, 'C' : 16.04, 'Python' : 9.85})
seriesAno2 = pd.Series({'C': 16.21, 'Python': 12.12, 'Java': 11.68})
print(seriesAno1)
print(seriesAno2)

#labels1 = ['Java', 'C', 'Python']
#dados1 = [16.25, 16.04, 9.85]
#labels2 = ['C', 'Python', 'Java']
#dados2 = [16.21, 12.12, 11.68]

#seriesAno1 = pd.Series(index = labels1, data = dados1)
#seriesAno2 = pd.Series(index = labels2, data = dados2)

Java      16.25
C         16.04
Python     9.85
dtype: float64
C         16.21
Python    12.12
Java      11.68
dtype: float64

2

In [10]:
ano1 = np.sum(seriesAno1)
ano2 = np.sum(seriesAno2)
print(ano1)
print(ano2)

42.14
40.01

3

In [13]:
mudanca = seriesAno2 - seriesAno1
print(mudanca)

#C teve um crescimento
#Java teve um declinio
#Python teve um crescimento

C         0.17
Java     -4.57
Python    2.27
dtype: float64

4

In [14]:
print(mudanca[mudanca >= 0])

C         0.17
Python    2.27
dtype: float64

5

In [16]:
anos2 = seriesAno2 + (2 * mudanca)
print(anos2.nlargest(1))

Python    16.66
dtype: float64

Dataframe 5.3

In [4]:
# plantando uma semente aleat√≥ria
np.random.seed(10)
# criando um dataframe
df = pd.DataFrame(
index=['A', 'B', 'C', 'D', 'E'],
columns=['W', 'X', 'Y', 'Z'],
data=np.random.randint(1, 50, [5, 4]))
print(df)

    W   X   Y   Z
A  10  37  16   1
B  29  26  30  49
C  30   9  10   1
D  43  41  37  17
E  37  48  12  25

6

In [7]:
somar = np.mean(df['X'])
print(somar)

32.2

7

In [14]:
linhaD = df.loc['D']
print(np.mean(linhaD))
linhaE = df.iloc[4]
print(np.sum(linhaE))

34.5
122

8

In [28]:
matriz = df.loc[['A', 'C', 'E'],['X', 'Y']]
print(matriz)

for i in range(3):
    print(np.sum(matriz.iloc[i]))

for i in range(2):
    print(np.sum(matriz.iloc[:,i]))

#print(matriz)
#somaA = np.sum(matriz.iloc[0])
#somaC = np.sum(matriz.iloc[1])
#somaE = np.sum(matriz.iloc[2])
#somaX = np.sum(matriz.iloc[:,0])
#somaY = np.sum(matriz.iloc[:,1])
#print(somaA)
#print(somaC)
#print(somaE)
#print(somaX)
#print(somaY)

    X   Y
A  37  16
C   9  10
E  48  12
53
19
60
94
38