# Importando as bibliotecas

In [2]:
import numpy as np

# Importando o dataset

In [3]:
dataset = np.loadtxt('space.csv', delimiter=';', dtype=str, encoding='utf-8')

# mostrando o cabeçalho do dataset
print(dataset[0,:])

['\ufeffNum' 'Company Name' 'Location' 'Datum' 'Detail' 'Status Rocket'
 ' Cost' 'Status Mission']

Exercicio 1

In [ ]:
# cria um array apenas com o status da missao
array = np.asarray(dataset[1:, 7], dtype=str)
# verifica se o status da missao é 'Success'
arrays = np.char.find(array, 'Success') >= 0
# soma os valores do array arrays
tamanho = np.sum(arrays)
print(tamanho)
# tamanho do dataset
tam = len(dataset)
print(tam)
# calcula a porcentagem
percent = (tamanho/tam)*100
print(f'{percent:.2f}%')

3879
4325
89.69%

Exercicio 2

In [ ]:
# cria um array apenas com os valores de gasto
gasto = np.asarray(dataset[1:, 6], dtype = float)
# filtra os valores maiores que 0
gastos = gasto[gasto > 0]
# calcula a media dos valores
media = np.mean(gastos)
# imprime a media
print(f'media: {media:.2f}')

media: 153.79

Exercicio 3

In [ ]:
# cria um array apenas as localizações
local = np.asarray(dataset[1:, 2], dtype = str)
# verifica se a localização é 'USA'
new = local[np.char.find(local, 'USA') >= 0]
# calcula o tamanho do array
tam = len(new)
print(tam)

1344

Exercicio 4

In [42]:
# comeca a analisar na segunda linha e todas as colunas
# procura a palavra SpaceX na coluna 1 a partir da segunda linha
# e retorna o array com os valores encontrados
space = dataset[1:][np.char.find(dataset[1:,1], 'SpaceX') >= 0]
# analisa a coluna 6 do array space e retorna a linha que esta o maior valor
cost = space[:,6].astype(float).argmax()
s = space[cost][4]
print(s)

Falcon Heavy | STP-2

Exercicio 5

In [ ]:
# analisa quais empresas apareceram no dataset e quantas vezes
empresas, qtdMissoes = np.unique(dataset[1:, 1], return_counts= True)

# imprime o resultado
for count in range(0, len(empresas)):
    print(f'A {empresas[count]} realizou {qtdMissoes[count]} missoes')

A AEB realizou 3 missoes
A AMBA realizou 8 missoes
A ASI realizou 9 missoes
A Arianespace realizou 279 missoes
A Arm??e de l'Air realizou 4 missoes
A Blue Origin realizou 12 missoes
A Boeing realizou 136 missoes
A CASC realizou 251 missoes
A CASIC realizou 5 missoes
A CECLES realizou 4 missoes
A CNES realizou 8 missoes
A Douglas realizou 1 missoes
A EER realizou 1 missoes
A ESA realizou 13 missoes
A Eurockot realizou 13 missoes
A ExPace realizou 10 missoes
A Exos realizou 4 missoes
A General Dynamics realizou 251 missoes
A IAI realizou 11 missoes
A ILS realizou 46 missoes
A IRGC realizou 1 missoes
A ISA realizou 13 missoes
A ISAS realizou 30 missoes
A ISRO realizou 76 missoes
A JAXA realizou 7 missoes
A KARI realizou 3 missoes
A KCST realizou 5 missoes
A Khrunichev realizou 1 missoes
A Kosmotras realizou 22 missoes
A Land Launch realizou 7 missoes
A Landspace realizou 1 missoes
A Lockheed realizou 79 missoes
A MHI realizou 84 missoes
A MITT realizou 7 missoes
A Martin Marietta realizou 114 missoes
A NASA realizou 203 missoes
A Northrop realizou 83 missoes
A OKB-586 realizou 2 missoes
A OneSpace realizou 1 missoes
A RAE realizou 2 missoes
A RVSN USSR realizou 1777 missoes
A Rocket Lab realizou 13 missoes
A Roscosmos realizou 55 missoes
A SRC realizou 3 missoes
A Sandia realizou 1 missoes
A Sea Launch realizou 36 missoes
A SpaceX realizou 100 missoes
A Starsem realizou 1 missoes
A ULA realizou 140 missoes
A US Air Force realizou 161 missoes
A US Navy realizou 17 missoes
A UT realizou 5 missoes
A VKS RF realizou 201 missoes
A Virgin Orbit realizou 1 missoes
A Yuzhmash realizou 2 missoes
A i-Space realizou 1 missoes